body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 20px;
            background-color: #fffffff1;

        }
.navbar {
    display: flex;
    background: #d1be10;
    align-content: center;
    padding-top: 0%;}

.logo {height: 50px;
        width:auto; 
    margin: 10px;   }
        
 


        h1 {
            text-align: center;
        }
        form {
            max-width: 400px;
            margin: 0 auto;
            background: #efefec;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        label {
            display: block;
            margin: 10px 0 5px;
        }
        input, select {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
        button {
            background-color: #28a745;
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
            border-radius: 5px;
        }
        button:hover {
            background-color: #218838;
        }
        #result {
            margin-top: 20px;
            text-align: center;
            font-size: 1.2em;
        }